# This file lists all the dependencies required for the backend of the project. Each line specifies a package and its version to ensure compatibility and reproducibility across different environments.
fastapi==0.116.1
uvicorn[standard]==0.35.0
pydantic==2.11.7
email-validator==2.2.0
python-dotenv==1.1.1
groq==0.31.0
psycopg[binary]==3.2.9
PyJWT==2.10.1
passlib[bcrypt]==1.7.4
bcrypt==4.2.1
sentence-transformers==5.1.0
scikit-learn==1.7.1
numpy==2.3.2
